html {
    background: #cccccc;
    font-family: "Nobile", sans-serif;
}

body {
    margin: 30 0 0 0;
}

img {
    height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#menu {
    text-align: center;
}

#title, #result {
    margin-bottom: 40px;
}

#menuBoxes {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    font-size: 1.5em;
}

#game {
    display: none;
}

#subButton, #menuButton {
    margin-left: 20%;
    margin-right:10%;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100px;}

#answer {
    font-size: 2em;
    display: none;
    margin-top: 450px;
    text-align: center;
}

#frame {
    width: 100%;
    height: 410px;
    position: fixed;
    left: 0px;
    top: 0px;
    background:white;
    border-bottom: 20px solid #cccccc;
}

#dashboard {
    margin: 425px 30px 20px 20px;
    width: 80%;
    display: inline-block;
}

#instructions {
    text-align: center;
}

#dashBoxes {
    display: inline-block;
    width: 77%;
    border: 1px solid black;
    padding-bottom: 20px;
    text-align: center;
}

#submit {
    width: 20%;
    position: fixed;
    bottom: 190px;
    right: 50px;
    text-align: center;
}

#score {
    display: inline-block;
    font-size: 1em;
    text-align: center;
}

#reset, #startButton {
    display: inline-block;
    margin-top: 40px;
}

#scoreBar {
    display: inline-block;
    width: 100%;
}

input[type=button], button{
    padding: 7px 20px;
    font-size: 1.3em;
    margin: auto;
    border: none;
    border-radius: 10px;
    background: #f15a22;
    color: #eeeeee;
    cursor: pointer;
}

input[type=button]:focus, button:focus{
    outline: 0;
}

button:hover {
    background: #FF6F24;
}

button:active {
    background: #DB521F;
}

input[type=checkbox] {
    display:none;
}

.checkBox {
    border: 1px solid #777777;
    border-radius: 10px;
    margin: 7px;
    margin-right: 2%;
    margin-left: 2%;
    min-width: 100px;
    display: inline-block;
    text-align: center;
}

#menu .checkBox {
    display: inherit;
}

.checkBox:active {
    background: #b2b2b2;
}

.checked {
    background: #dddddd;
}

.checkBox p {
    margin: 10px;
    display: inline-block;
}

.long {
    font-size: 0.8em;
    width: 70%;
}

label p {
    margin-right: 0;
}

::selection {
    background: rgba(0, 0, 0, 0);
}

#submit button, #subButton, #startButton, #reset {
    border-radius: 0px;
    width: 100%;
    margin:0;
    padding: 30px 0px;
    font-size: 1.5em;
}

#menuButton {
    background: rgb(255, 111, 34);
}

#startButton {
    margin-top: 40px;
}

#menuButton:active {
    background: #DB521F;
}

#answer {
    width: 100%;

}

@media only screen and (max-width: 800px) {
    #menuBoxes {
        width: 80%;
    }

    #frame {
        max-height: 300px;
    }

    #boxes {
        width: 60%;
    }

    #dashboard {
        text-align: center;
        margin: 320px 0 0 0;
        width: 100%;
    }

    

    #submit {
        display: block;
        position: inherit;
        margin: 0;
        margin-top: 20px;
        width: 100%;
    }
}

/* fix hover on devices */
@media (min-width: 800px) {
    .checkBox:hover {
        background: #dddddd;
    }
}